@import "tailwindcss";

body {
  @apply bg-black text-white font-mono antialiased;
  transition: all 0.2s ease-in-out;
  overscroll-behavior: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blinking-cursor {
    border-left: 2px solid transparent;
    animation: blink 2s step-end infinite;
  }

  .blinking-cursor-right {
    border-right: 2px solid transparent;
    animation: blink 2s step-end infinite;
  }

  @keyframes blink {
    0%,
    50%,
    100% {
      border-left-color: #ffffff;
      border-right-color: #ffffff;
    }
    25%,
    75% {
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  .correct-char {
    color: #00ff00;
  }
  .incorrect-char {
    color: #ff0000;
  }
}
